@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

nav {
    display:flex;
    background: transparent;
    justify-content: flex-end;
    padding: 20px 0;
    color:rgb(255, 254, 254);
    align-items: center;
}

nav.logo {
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
    margin-right: 8rem;
}

// More styling located in the fonts component
nav ul li a {
    color:rgb(255, 254, 254);
    text-decoration: none;
    transition: color .4s ease-out;
    position: relative;
}

.hover:hover {
    color: #FFF;
    padding: 0;
    border: 3px solid rgba(247, 255, 3, 0.965);
    border-radius: 0 5px;
    background-color:rgba(0,0,0,0.3);
    text-shadow: -1px 1px 0px rgb(255, 3, 3);
}

.hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -1.5px;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .hover:hover:before {
    visibility: visible;
    background-color: #f2f2f2;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }

a:last-child {
    margin-right: 0;
}


.btn {
    border-radius: 40px;
}

/*Hamburger */
.menu-bars {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}

.menu-bars input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-bars span {
    display: block;
    width: 28px;
    height: 3px;
    background-color:rgb(255, 254, 254);
    border-radius: 3px;
    transition: all 0.3s;
}

.menu-bars span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-bars span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-bars input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-bars input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px,0); 
}

.menu-bars input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0); 
}

@media only screen and (max-width: 1090px) {
    nav {
        justify-content: center;
    }
    nav ul {
        width: 50%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    nav ul{
        width: 60%;
    }
}

@media only screen and (max-width: 576px) {
    nav {
        margin-top: 1rem;
    }

    .menu-bars {
        display: flex;
    }

    nav ul {
        position:absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 575px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background: radial-gradient(ellipse at bottom, #1B2735 0%, #191F24 100%);
        background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
        background-image: url(../img/sky-sunset-crazy-min.png);
        z-index: 1;
        transform: translateY(-100%);
        transition: all 1s;
        margin-right: 0;
    }

    nav ul li:first-child {
        margin-top: 4rem;
    }
}


nav ul.slide {
    transform: translateY(0);
}